<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Icon" value="Icon.ico"/>
		<add key="StorageType" value=""/>
		<add key="CsvPath" value=""/>
		<add key="FirebaseKeyPath" value=""/>
		<add key="FirebaseDatabaseName" value=""/>
		<add key="FirebaseUsername" value=""/>
		<add key="BrowserPath" value=""/>
		<add key="DefaultAccount" value=""/>
		<add key="ColumnOrder" value=""/>
	</appSettings>
</configuration>